#
# Kubernetes configuration for aisbreaker-chat-server as deployment
#

apiVersion: apps/v1
kind: Deployment
metadata:
  name: aisbreaker-demo-chat-webapp-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: aisbreaker-demo-chat-webapp-server
  template:
    metadata:
      labels:
        app: aisbreaker-demo-chat-webapp-server
    spec:
      containers:
      - name: aisbreaker-demo-chat-server-container
        image: ${IMAGE_NAME}:${VERSION}
        imagePullPolicy: Always
        ports:
        - containerPort: 3000
        env:
          - name: VERSION
            value: "${VERSION}"
          - name: API_SERVER_URL
            value: "${API_SERVER_URL}"

          # provide environment variable with pod and namespace name using Kubernetes Downward API,
          #   https://github.com/kubernetes/kubernetes/blob/release-1.0/docs/user-guide/downward-api.md
          #   https://github.com/kubernetes/kubernetes/blob/release-1.0/docs/user-guide/downward-api/dapi-pod.yaml
          - name: POD_NAME
            valueFrom:
              fieldRef:
                fieldPath: metadata.name
          - name: POD_NAMESPACE
            valueFrom:
              fieldRef:
                fieldPath: metadata.namespace
        resources:
          requests:
            cpu: 100m
            memory: 200Mi
